<main>
  <div class="masthead">
    <div class="content-wrapper">
      <h1>Share reviews on your favorite books</h1>
      <form method="get" action=" ">
        <div class="input-inline">
          <label class="input-group__label" for="banner-search-input">Find a book</label>
          <div class="input-row">
            <input id="banner-search-input" class="input-row__field" type="text" name="search" placeholder="e.g. The River by the Water">
            <button class="btn btn--inline" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="content-wrapper">
    <h2>Some books</h2>
    <ul class="bare-list float-grid css-grid">
      <li>
        PLACEHOLDER
      </li>
    </ul>
  </div>
</main>
