<main>
  <div class="masthead">
    <div class="content-wrapper">
      <h1>Share reviews on your favorite books</h1>
      <form method="get" action=" ">
        <div class="input-inline">
          <label class="input-group__label" for="banner-search-input">Find a book</label>
          <div class="input-row">
            <input id="banner-search-input" class="input-row__field" type="text" name="search" placeholder="e.g. The River by the Water">
            <button class="btn btn--inline" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="content-wrapper">
    <h2>Some books</h2>
    <ul class="bare-list float-grid css-grid">
      <li>
        <div class="card" style="width: 18rem;">
          <img src="assets/cover.jpeg" class="card-img-top" alt="Book image">
          <div class="card-body">
            <h5 class="card-title">Book title</h5>
            <p class="card-text">This is probably the most beautiful story I’ve ever read.</p>
            <a href="#" class="btn btn-primary">Read comments</a>
          </div>
        </div>
      </li>
      <li>
        <div class="card" style="width: 18rem;">
          <img src="assets/cover.jpeg" class="card-img-top" alt="Book image">
          <div class="card-body">
            <h5 class="card-title">Book title</h5>
            <p class="card-text">This is probably the most beautiful story I’ve ever read.</p>
            <a href="#" class="btn btn-primary">Read comments</a>
          </div>
        </div>
      </li>
      <li>
        <div class="card" style="width: 18rem;">
          <img src="assets/cover.jpeg" class="card-img-top" alt="Book image">
          <div class="card-body">
            <h5 class="card-title">Book title</h5>
            <p class="card-text">This is probably the most beautiful story I’ve ever read.</p>
            <a href="#" class="btn btn-primary">Read comments</a>
          </div>
        </div>
      </li>
      <li>
        <div class="card" style="width: 18rem;">
          <img src="assets/cover.jpeg" class="card-img-top" alt="Book image">
          <div class="card-body">
            <h5 class="card-title">Book title</h5>
            <p class="card-text">This is probably the most beautiful story I’ve ever read.</p>
            <a href="#" class="btn btn-primary">Read comments</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</main>
