<div class="about-text">
  <h2>Book Reviews</h2>
  <p>You will find reviews of your favorite books</p>
  <p>You can login to add comments or to add your own book and review</p>
  <p>Developed by Philippe Davet</p>
</div>
